body{
    margin:0;
    padding:0;
}

.nav{
    width: 30%;
    font-family: Poppins;
    font-size: 14px;
    line-height: 21px;
    display: grid;
    grid-gap:20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-left:20px;
    padding-right: 100px;
}

.nav > a{
    color:black;
    text-decoration: none;
}

.margin-headings{
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}
.gradient{
    background: linear-gradient(180deg, #C1DCF9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #A4B6FA 0%, rgba(255, 255, 255, 0) 0.01%, rgba(250, 184, 208, 0.666667) 89.58%, rgba(250, 184, 208, 0.666667) 99.99%, rgba(255, 255, 255, 0) 100%), #A4B6FA;
    padding-top:10px;
}

.new-delhi-corner{
    padding-left: 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.header-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-text{
    font-family: Poppins;
    color: #FFFFFF;
    
}

.header-text-section{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-text-small{
    font-size: 25px;
    line-height: 37px;
    padding-top: 0px;
}

.header-text-large{
    font-size: 60px;
    line-height: 90px;
}

.header-text{
    padding-left: 30px;
}

.buttons{
    padding-top: 30px;
}

.btn1, .btn2{
    background-color: rgba(164, 182, 250, 0.5);
    border-radius: 50px;
    text-decoration: none;
    padding: 9 40;
    font-family: Poppins;
    color:#FFFFFF;
    font-size: 20px;
    line-height: 30px;
}

.btn1{
    margin-right: 40px;
}

.spacer50{
    height: 50px;
}

.spacer20{
    height:10px;
}

.header-image{
    display:flex;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
    
}

.header-image img{
    width:330px;
    height:288px;
}

@media screen and (max-width:800px){
    .header-content{
        display: flex;
        flex-direction: column;
    }
    .nav{
        display: grid;
        grid-gap:4%;
    }
}

@media screen and (max-width:600px){
    .nav{
        display: grid;
        grid-gap:4%;
    }
    
}